tr.infraTrEscura {
  background-color: #f0f0f0;
}
.gmProcessos {
  display: inline-block;
  margin: 0 0.25ex;
  padding: 0 0.5ex;
  font-weight: bold;
  min-width: 3.5ex;
  line-height: 1.5em;
  border: 2px solid transparent;
  border-radius: 1ex;
  text-align: center;
  color: black;
  cursor: pointer;
  &.gmPrioridade0 {
    background-color: #ff8a8a;
  }
  &.gmPrioridade1 {
    background-color: #f84;
  }
  &.gmPrioridade2 {
    background-color: #ff8;
  }
  &.gmPrioridade3 {
    background-color: #8aff8a;
  }
  &.gmVazio {
    opacity: 0.25;
    background-color: inherit;
    color: #888;
  }
}
.gmPeticoes {
  display: inline-block;
  margin-right: 1ex;
  width: 15px;
  height: 15px;
  line-height: 15px;
  background: red;
  color: white;
  border: 1px solid red;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  &.gmVazio {
    visibility: hidden;
  }
}
.gmDetalhes td:first-child {
  padding-left: 0;
}
.gmNaoMostrarClasses .gmDetalheClasse {
  display: none;
}
.gmNaoMostrarDiasParaFim .gmDiasParaFim {
  display: none;
}
.gmLocalizadorExtra {
  display: block;
  float: right;
  background: #eee;
  border: 1px solid #aaa;
  color: #333;
  padding: 2px;
  margin: 0 3px 0 0;
  border-radius: 3px;
  font-size: 0.9em;
}
.gmBaloes {
  float: right;
}
.gmBotoesLocalizador {
  margin-right: 3ex;
}
.gmAtualizar {
  font-size: 1em;
  background: #ccc;
  padding: 4px;
  border-radius: 4px;
  margin-right: 1ex;
}
.gmFiltrar {
  font-size: 1em;
  background: #ccc;
  padding: 4px;
  border-radius: 4px;
  margin-right: 1ex;
  .gmFiltrado & {
    display: none;
  }
}
.gmDetalhesAberto {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.gmDetalhes meter {
  width: 10ex;
  &.gmExcesso {
    width: 20ex;
  }
}
.gmLembreteProcesso {
  width: 2ex;
  height: 2ex;
  margin: 0 1ex;
  border-width: 0;
}
.gmLembreteProcessoVazio {
  opacity: 0;
  pointer-events: none;
}
.gmPorcentagem {
  display: inline-block;
  width: 6ex;
  text-align: right;
}
.gmPrioridade {
  display: none;
  color: red;
  .gmPrazoMetade & {
    display: inline;
  }
}
