{
  "plugins": [["transform-object-rest-spread", { "useBuiltIns": true }]],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions", "firefox >= 38"]
        }
      }
    ]
  ]
}
